#picture {
  position: relative; /* Set the parent div to relative for absolute positioning */
  display: inline-block; /* Ensure the container wraps around the image */
}
#picture img {
  margin: 0;
  border: 0;
  border-radius: 0%;
  width: 1000px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #b0f0ff;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  
}

  #text-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f9f9f9; 
    padding: 10px 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    color: #333;
    max-width: 200px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }



